cariro_implant_academy/Backend/.vs/CIA/FileContentIndex/2831a2cc-425c-45ac-a47d-13aac9eb9c5b.vsidx
cariro_implant_academy/Backend/.vs/CIA/FileContentIndex/d8d61f51-ccb9-4b37-a201-6c343d5c58b7.vsidx
cariro_implant_academy/Backend/CIA/bin/Debug/net7.0/CIA.dll
cariro_implant_academy/Backend/CIA/bin/Debug/net7.0/CIA.pdb
cariro_implant_academy/Backend/CIA/bin/Debug/net7.0/CIA.dll
cariro_implant_academy/Backend/CIA/bin/Debug/net7.0/CIA.pdb
cariro_implant_academy/Backend/CIA/bin/Debug/net7.0/CIA.dll
cariro_implant_academy/Backend/CIA/bin/Debug/net7.0/CIA.pdb
cariro_implant_academy/Backend/CIA/obj/Debug/net7.0/CIA.csproj.CoreCompileInputs.cache
cariro_implant_academy/Backend/CIA/obj/Debug/net7.0/CIA.csproj.FileListAbsolute.txt
cariro_implant_academy/Backend/CIA/obj/Debug/net7.0/CIA.dll
cariro_implant_academy/Backend/CIA/obj/Debug/net7.0/CIA.genruntimeconfig.cache
cariro_implant_academy/Backend/CIA/obj/Debug/net7.0/CIA.pdb
cariro_implant_academy/Backend/CIA/obj/Debug/net7.0/ref/CIA.dll
cariro_implant_academy/Backend/CIA/obj/Debug/net7.0/refint/CIA.dll
